<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between flex-sm-column flex-md-row w-100">
            <h6>{{'CUSTOMERPAGE.AccountDets' | translate}}</h6>
          </div>
          <div class="card-body ">
            <form [formGroup]="customerProfileForm" (ngSubmit)="submit()">

              <div class="row">
                <div class="form-group col-sm-12">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Name</span>
                    </div>
                    <input type="text" class="form-control" formControlName="fname" name="fname" id="fname">
                  </div>
                </div>

                <div class="form-group col-sm-12">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Last names</span>
                    </div>
                    <input type="text" class="form-control" formControlName="lname" name="lname" id="lname">
                    <input type="text" class="form-control" formControlName="lname2" name="lname2" id="lname2">
                  </div>
                </div>
  
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Username</span>
                    </div>
                    <input type="text" class="form-control" formControlName="username" name="username" id="username">
                    
                  </div>
                </div>

                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">BD</span>
                    </div>
                    <input type="date" class="form-control" formControlName="dob" name="dob" id="dob">
                  </div>
                </div>
  
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Phone#1</span>
                    </div>
                    <input type="text" class="form-control" formControlName="primaryPhone" name="primaryPhone" id="primaryPhone">
                  </div>
                </div>
  
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Password</span>
                    </div>
                    <input type="text" class="form-control" formControlName="password" name="password" id="password">
                  </div>
                </div>


                <div class="d-flex justify-content-between w-100 flex-row my-2">
                 <h6>Address</h6>
                 <hr>
                </div>

                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Province</span>
                    </div>
                    <input type="text" class="form-control" formControlName="province" name="province" id="province">
                  </div>
                </div>

                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Canton</span>
                    </div>
                    <input type="text" class="form-control" formControlName="canton" name="canton" id="canton">
                  </div>
                </div>

                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">District</span>
                    </div>
                    <input type="text" class="form-control" formControlName="district" name="district" id="district">
                  </div>
                </div>
  
                <div class="col-sm-12">
                <button class="btn btn-dark"
                [disabled] ="updating"
                [class.disabled]="updating"
                [class.btn-warning]="updating"
                >{{updating ? "Updating" : "Update"}}</button>
                </div>
              </div>
             
            </form>
          </div>
        </div>
      </div>
      

    </div>
  </div>