<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "yellow" type = "ball-clip-rotate-multiple" [fullScreen] = "false"><p style="color: white; font-size:20px;  margin-top:50px">loading...</p> </ngx-spinner>
<div class="card">
    <div class="card-header">
      <h3 class="card-title font-weight-bold">Menu</h3>

      <div class="card-tools">
        <span class="_button"> 
          <a class="btn" (click)="refresh()" data-toggle="tooltip" data-placement="top" title="Refresh"><i class="fas fa-sync-alt"></i></a>
          <a class="btn" routerLink="../create"  data-toggle="tooltip" data-placement="top" title="Add new menu"><i class="fas fa-2x fa-plus-circle"></i></a>
        </span>
        
        <ul class="pagination pagination-sm float-right">
          <li class="page-item"><a class="page-link" href="#">«</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th >Identification Store</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center no-display" *ngIf="menuItems < 1">No items to display</tr>
          <tr *ngFor="let _menu of menuItems; let i=index">
            <td>{{_menu.id}}</td>
            <td class="image"><img class="rounded-circle"  src={{_menu.foto}} alt="" width="50px" height="50px"></td>
            <td class="text-capitalize">{{_menu.nombre}}</td>
            <td class="text-capitalize">{{_menu.cedula_comercio}}</td>
            <td>{{_menu.precio}}</td>
            <td>
              <span><a class="dropdown-item" data-toggle="tooltip" data-placement="top" title="View user" routerLink=""><i
                    class="fas fa-search"></i></a></span>
              <span><a class="dropdown-item" data-toggle="tooltip" data-placement="top" title="delete user"
                  (click)="cancel(_menu.id)"><i class="fas fa-close"></i></a></span>
            </td>
          </tr>

          
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
