<div class="container">
  <div class="row">
    <div class="col-sm-12 py-3">
      <div class="">
        <div class="card-header text-center">
          <h4>{{'REGISTER.CreateAccount' | translate}}</h4>
          <p *ngIf="errorMessage" class="text-danger text-left">Error: {{errorMessage}}</p>
          <p *ngIf="successMessage" class="text-success text-left">{{successMessage}}</p>
        </div>
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="form-group col-sm-12 col-md-6">
                <label for="">First name<label class="red-text"></label>*</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" id="fname" name="fname" formControlName="fname"
                    placeholder="Enter your first name">
                </div>
              </div>

              <div class="form-group col-sm-12 col-md-6">
                <label for="">Last name 1<label class="red-text"></label>*</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" id="lname" name="lname" formControlName="lname"
                    placeholder="Enter your last name ">
                </div>
              </div>

              <div class="form-group col-sm-12 col-md-6">
                <label for="">Last name 2<label class="red-text">*</label></label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" id="lname2" name="lname2" formControlName="lname2"
                    placeholder="Enter your last name 2">
                </div>
              </div>

              <div class="form-group col-sm-12 col-md-6">
                <label for="">Identification<label class="red-text">*</label></label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" id="identification" name="identification" formControlName="identification"
                    placeholder="Enter your identification">
                </div>
              </div>

              <div class="form-group col-sm-12 col-md-6">
                <label for="">Phone#1</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" id="phone" name="phone" formControlName="phone"
                    placeholder="Enter your phone number">
                </div>
              </div>

              <div class="form-group col-sm-12 col-md-6">
                <label for="">Username</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" id="username" name="username" formControlName="username"
                    placeholder="Enter your phone username">
                </div>
              </div>

              <div class="form-group col-sm-12 col-md-6">
                <label for="">Province</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" id="province" name="province" formControlName="province"
                    placeholder="Enter your phone province">
                </div>
              </div>

              <div class="form-group col-sm-12 col-md-6">
                <label for="">Canton</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" id="canton" name="canton" formControlName="canton"
                    placeholder="Enter your phone canton">
                </div>
              </div>

              <div class="form-group col-sm-12 col-md-6">
                <label for="">District</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" id="district" name="district" formControlName="district"
                    placeholder="Enter your phone district">
                </div>
              </div>

              <div class="form-group col-sm-12 col-md-7">
                <label for="">Date of birth</label>
                <div class="input-group mb-2">
                  <div class="datepicker date input-group p-0 shadow-sm">
                    <input type="date" name="dob" formControlName="dob" id="dob" max={{min_date}} min="1900-01-28"
                      class="form-control">
                  </div>
                </div>
              </div>

              <div class="form-group col-sm-12 col-md-6">
                <label for="">Password<label class="red-text">*</label></label>
                <div class="input-group mb-2">

                  <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" id="password" name="password"
                    formControlName="password" placeholder="Enter your password">
                </div>
              </div>

              <div class="form-group col-sm-12 col-md-6">
                <label for="">Confirmation password<label class="red-text">*</label></label>
                <div class="input-group mb-2">

                  <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" id="confirmPassword"
                    name="confirmPassword" formControlName="confirmPassword"
                    placeholder="Enter your confirm password">
                </div>
              </div>

              <div class="col-sm-12 d-flex">
                <button *ngIf="!submitted" class="btn btn-outline-danger btn-block" type="submit">
                  Submit</button>
                <button *ngIf="submitted" class="btn btn-outline-danger btn-block" [disabled]="submitted"
                  [class.disabled]="submitted">
                  Submitted</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
