<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "yellow" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white; font-size:20px;  margin-top:50px">loading...</p> </ngx-spinner>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <input type="text"  id="" placeholder="Find your favorite restaurant..." [(ngModel)]="searchText" name="searchText">
        </div>
    </div>
    <div class="row py-3">
      <div class="col-sm-12 col-md-6 col-lg-3 restaurant" *ngFor="let _restaurant of restaurants | searchBy:{nombre:
        searchText} ">
          <img src="../../assets/img/restaurants/restaurant2.jpg" alt="restaurant">
          <h3>{{_restaurant.nombre}}</h3>
          <p>{{_restaurant.provincia}} ... {{_restaurant.canton}} ... {{_restaurant.distrito}}</p>

          <button class="btn" routerLink="/restaurants/{{_restaurant.cedula}}" (onClick)="navigate(restaurants)" >{{'RESTAURANT.ViewButton' | translate}}</button>

        </div>
  </div>
  </div>