<div class="container-fluid py-5">

  <div class="row">
    <div class="col-sm-12 text-center heading mb-4">
      <h1>Product</h1>
    </div>
  </div>
  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- Product main img -->
      <div id="product-main-img">
        <ng-template [ngIf]="thumbimages.length !== 0">
          <div class="product-preview">
            <img src={{product.foto}} alt="">
          </div>
        </ng-template>
      </div>

      <!-- Product details -->
      <div class="col-md-5">
        <div class="product-details">
          <h1 class="product-name">{{product?.nombre}}</h1>
          <div>
            <h2 class="product-price">{{product?.precio | currency:'₡' }} </h2>
          </div>

          <div class="add-to-cart">
            <div class="qty-label">
              Quantity
              <div class="input-number d-flex justify-content-between align-center w-100 flex-row-reverse">
                <span (click)="Increase()" class="qty-up"><i class="fa fa-plus" aria-hidden="true"></i></span>
                <input class="" #quantity readonly type="number" value=0>
                <span (click)="Decrease()" class="qty-down"><i class="fa fa-minus" aria-hidden="true"></i></span>
              </div>
            </div>
            <button (click)="addToCart(product?.id)" class="add-to-cart-btn">
              Add to cart
            </button>
          </div>
        </div>
      </div>

      <h1 class="display-3">Review</h1>

      <div class="input-group" *ngIf="currentUser">
        <div class="input-group-prepend">
          <button class="input-group-text" (click)="sendReview(review.value)">Send Review</button>
        </div>
        <textarea #review class="form-control" aria-label="With textarea"></textarea>
      </div>

      <!-- Review by user -->
      <div class="review p-5" *ngFor="let fb of feedback">
        <div class="row d-flex">
          <div class="profile-pic"><img src="https://i.pinimg.com/280x280_RS/2e/45/66/2e4566fd829bcf9eb11ccdb5f252b02f.jpg" width="60px" height="60px"></div>
          <div class="d-flex flex-column pl-3">
            <!-- <h2>{{getNameByCedula(fb.cedula)}}</h2> -->
            <h2>{{fb.nombre_cliente}}</h2>
          </div>
        </div>
        <div class="row pb-3">
          <p>{{fb.comentario}}</p>
        </div>
      </div>


    </div>