<div class="container-fluid py-5">

  <div class="row">
    <div class="col-sm-12 text-center heading mb-4">
      <h1>Product</h1>
    </div>
  </div>
  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- Product main img -->
      <div id="product-main-img">
        <ng-template [ngIf]="thumbimages.length !== 0">
          <div class="product-preview">
            <img src="../../assets/img/menu/sandwich4.png" alt="">
          </div>
        </ng-template>
      </div>

      <!-- Product details -->
      <div class="col-md-5">
        <div class="product-details">
          <h2 class="product-name">{{product?.nombre}}</h2>
          <div>
            <h3 class="product-price">{{product?.precio | currency:'₡' }} </h3>
          </div>

          <div class="add-to-cart">
            <div class="qty-label">
              Qty
              <div class="input-number d-flex justify-content-between align-center w-100 flex-row-reverse">
                <span (click)="Increase()" class="qty-up"><i class="fa fa-plus" aria-hidden="true"></i></span>
                <input class="" #quantity readonly type="number" value=0>
                <span (click)="Decrease()" class="qty-down"><i class="fa fa-minus" aria-hidden="true"></i></span>
              </div>
            </div>
            <button (click)="addToCart(product?.id)" class="add-to-cart-btn"><i
                class="fa fa-shopping-cart"></i>{{product?.quantity < 1 ? "No Stock" : "Add to cart" }} </button>
          </div>
        </div>
      </div>


    </div>